
#head{

  width: 200px;
    height: 200px;
   
}

#torso{

  width: 200px;
  height: 300px;


}

#brazo1{

   width: 200px;
    height: 200px;

}

#brazo2{
 
    width: 200px;
  height: 200px;  
}

#pie1{

    width: 200px;
  height: 200px;  
}

#pie2{
 
    width: 200px;
  height: 200px;  
}