.hand-cursor :hover{
   cursor: pointer !important;
 }
 
.forma{  
  margin: 16px;  
  display: inline-block;
  z-index: 1;
}

.forma2{
   position: relative;   
   margin: 16px;
   opacity: 0.2;
   display: inline-block;
   
 }

.triangulo {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 80px 100px 80px;
   border-color: transparent transparent #35cf76 transparent;
   
}

.circulo {
   width: 100px;
   height: 100px;   
   background: #fc14c9;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
}


.cuadrado {
   width: 100px;
   height: 100px;
   background: #24bce2;
}




.ovalo {
   width:  200px; 
   height:  100px; 
   background:  #f1c40f; 
   border-radius:  100px / 50px;
   -webkit-border-radius:  100px / 50px;
}


.rectangulo {
   width: 200px;
   height: 100px;
   background: #7f8c8d;
}



